@model UserRegistrationModel

<!DOCTYPE html>

<html>
<head>
    <title>Accept Login</title>
</head>
<body>
<div>
    <h1>Accept Login</h1>
    <p>You successfully login in account @Model.Name</p>
</div>
</body>
</html>