@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HomePage</title>
    <link href="~/css/style.css" rel="stylesheet"/>
</head>
<body>
        <div>
            <h1 class="page-title">Home Page</h1>
            <a asp-controller="UserRegistration" asp-action="RegistrationPage">Registration</a>
        </div>
</body>
</html>